/* ------font------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* common style and utility */
/* .body{
    font-family: 'Poppins', sans-serif;
    background-color: black;
} */
.container-one{
    margin: 1px solid #2D25A0 ;
    padding-top: 120px;
    background-color: #2D25A0;
    margin-bottom: 70px;
}
.banner-image:hover .banner{
    transform: rotate(10deg);
    transform-origin: top right;
    transition: transform 1s ease-out .15s;

}
.tournament-name{
    margin-left: 156px;
    margin-right: 102px;
}
h1{
    color: #FFFFFF;
    font-size: 64px;
    font-weight: bold;
}
.tournament-poster{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.tournament-logo{
    width: 556px;
    height: 438;
}
.live-button {
    text-decoration: none;
    /* width: 168px;
    height: 44px;
    color: white;
    background-color: #E02C6D;
    padding: 10px, 24px, 10px, 24px; */
    text-align: center;
    background-color: orangered;
    padding: 10px, 24px;
    margin-top: 20px;
    width: 168px;
    height: 44px;
}

/* Player details */

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 100px;
    margin-right: 180px;
    padding: 15px;
}
.player{   
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
    margin-right: 30px;
    margin-bottom: 27px;
}
.player-image{
    width: 300px;
    height: 256px;
}
.player-name{
    font-size: 28px;
}
.player-detail{
    color: #6C6C6C;
    font-size: 16px;
}


/* -------------Highlights----------
--------------------------------------  */
.highlight-container{
    border: 5px solid black;
    background-color: azure;
}
h2{
    background-color: darkgray;
    text-align: center;
}
.videos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 15px;
   
}
/* -----------Login-------- */
.login-container {
    display: flex;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input,
button {
    font-size: 1.3em;
    margin-top: 15px;
    border: 1px solid lightgray;
    padding-left: 10px;
    border-radius: 5px;
}

.login-form button {
    background-color: rgb(98, 0, 255);
    color: white;
    font-weight: 700;
    border: 0;
    padding: 5px;
}

    
/* ---------
footer style
------------------ */

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer img{
    height: 300px;
    width: 250px;
}
.social-media{
    margin-left: 80px;
    
}
.copyright{
    text-align: center;
}

/* -----------Media Queries---------------- */

/* @media only screen and (max-width:688px){
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blogs, .courses{
        flex-direction: column;
    } */